<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEntidades" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61733/Entidades.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEntidades" contract="ServicioEntidades.IEntidades"
                name="BasicHttpBinding_IEntidades" />
        </client>
    </system.serviceModel>
</configuration>